*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
header {
    width: 100%;
    background-color: white;
}
p{
    font-weight: inherit;
    font-size: 18px;
}

nav{
    margin-top: 30px;
    margin-bottom: 30px;
}
nav  a{
    color: black;
}
.burger{
    display: none;
}
.info h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.info p{
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
}
.top_nav {
     display: flex;
 }
.burger_tags{
    display: grid;
    grid-template-columns: auto;
    justify-content: left;
    grid-row-gap: 15px;
    margin-left: 6%;
    margin-top: 20px;
}
.none{
    display:none
}
.burger_tags a{
    font-size: 18px;
}
.burger_tags a:hover{
    text-decoration: #000000;
    transition: 0.3s ease;
}
.top_nav .logo{
    margin-left: 6%;
    margin-right: auto;
    font-weight: bold;
    font-size: 18pt;
}
.tags a{
    margin-right: 40px;
    font-size: 17pt;
}
main{
    text-align: center;
    vertical-align: middle;
}
.hire_buttons{
    display: flex block;
    padding-right: 30px;
}
.hire{
    background: url("../img/header_photo.jpg");
    width: auto;
    padding: 170px 250px 70px 250px;
    background-size: cover !important;
    position: relative;
}
.hire h1{
    padding-bottom: 35px;
    color: white;
    font-size: 75px;
}
.hire p{
    font-size: 29px;
    color: white;
    padding-bottom: 110px;
}
.hire_buttons a{
    display: inline-block;
    width: 210px;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.service{
    border: 3px white solid;
    background-color: black;
    opacity: 0.7;
    margin-right: 30px;
}
.hiring{
    border: 2px gray solid;
    background-color: gray;
    opacity: 0.9;
}
.service, .hiring{
    padding-top: 20px;
}
.hire a img{
    margin-top: 70px;
}






.about_us{
    padding: 130px 30px 130px 50px;
}
.about_us_info h1{
    margin-right: 25px;

}
.about_us_icons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 125px 0;
}
.about_us_icons p{
    width: 67%;
    margin: 0 auto;
}
.about_us_icons h1{
    margin: 20px 0 20px 0;
}







.our_services{
    background-color: #e4fdf9;
    padding-top: 110px;
}
.order_rectangles{
    padding: 125px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.rectangle{
    background-color: #ffffff;
    padding-top: 46px;
    box-shadow: 0 0 3px #262626;
    color: #5c5c5c;
    margin: 20px;
}
.rectangle h1{
    font-size: 26px;
}
.rectangle p{
    font-size: 17px;
    width: 80%;
    margin:20px 0 40px 30px;
}
.rectangle button{
    width: 147px;
    height: 50px;
    border: 2px #00897b solid;
    color: #5c5c5c;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    background: white;
}






.latest_works{
    background-color: #ffffff;
    padding: 120px 60px 120px 60px;
}
.latest_works_info p{
    margin-bottom: 118px;
}
.latest_works_buttons_click{
    transition: 0.3s;
    color: white;
    background: #00897b;
}
.latest_works_buttons button{
    color: #504e4e;
    padding: 10px 30px 10px 30px;
    margin-right: 1%;
    margin-top: 2%;
}
.latest_works_buttons{
    margin-left: 45px;
}
.latest_works button{
    border: 2px #00897b solid;
    font-size: 14pt;
    border-radius: 1px;
    cursor: pointer;
    font-weight: bold;
}
.view_all{
    width: 150px;
    height: 50px;
    background: #00897b;
    color: white;
    margin-left: 1px;
}
.works_slots{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 70px 50px 100px 50px;
}
.works_slots a{
    margin: 30px 10px 0 10px;
    display: block;
    width: 370px;
    height: 370px;
}
.watch{
    background: url("../img/latest_work_icons/watches(1).jpg");
}
.health{
    background: url("../img/latest_work_icons/health_pocket(2).jpg");
}
.pants{
    background: url("../img/latest_work_icons/pants(3).jpg");
}
.flaga{
    background: url("../img/latest_work_icons/flaga(4).jpg");
}
.wine{
    background: url("../img/latest_work_icons/wine(5).jpg");
}
.bag{
    background: url("../img/latest_work_icons/bag(6).jpg");
}
.watch:hover{
    background: url("../img(hover)/watches(1)(hover).jpg");
    transition: 0.3s ease;
}
.health:hover{
    background: url("../img(hover)/health_pocket(2)(hover).jpg");
    transition: 0.3s ease;
}
.pants:hover{
    background: url("../img(hover)/pants(3)(hover).jpg");
    transition: 0.3s ease;
}
.flaga:hover{
    background: url("../img(hover)/flaga(4)(hover).jpg");
    transition: 0.3s ease;
}
.wine:hover{
    background: url("../img(hover)/wine(5)(hover).jpg");
    transition: 0.3s ease;
}
.bag:hover{
    background: url("../img(hover)/bag(6)(hover).jpg");
    transition: 0.3s ease;
}






.pricing_plan{
    background: #f0f1f1;
    padding: 125px 20px 125px 20px;
}

.pricing_plan .pricing_plan_info h1{
     margin-bottom: 38px;
 }
.pricing_plan .pricing_plan_info{
    margin-bottom: 110px;
}
.price_list{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.pricing_plan .price_list a{
    display: block;
    margin: 0 20px;
    width: 352px;
    height: 641px;
}
.pricing_plan .price_list a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}
.free{
    background: url("../img/price_rectangle/free.jpg");
}
.basic{
    background: url("../img/price_rectangle/basic.jpg");
}
.ultimates{
    background: url("../img/price_rectangle/ultimates.jpg");
}
.price_list a button{
    border-radius: 1px;
    width: 150px;
    height: 55px;
    border: 2px solid black;
    color: black;
    background: white;
    margin-top: 548px;
    font-size: 18px;
    font-weight: 800;
}
.price_list a button:hover{
    transition: 0.3s;
    border: 2px solid #00897b;
    border-radius: 3px;
    color: white;
    background: #00897b;
    cursor: pointer;
}






.team_members{
    padding: 125px 15px 125px 15px;
}

.members{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 40px 0;
}
.member{
    text-align: center;
    margin: 10px 30px;
}
.member_image{
    display: block;
    width:350px;
    height: 340px;
    margin-left: 14.5%;
    border-radius: 6px;
    margin-bottom: 20px;
}
.social_icons a{
    width: 53px;
    height: 53px;
    border-radius: 3px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.social_icons{
    display: grid;
    grid-template-columns:auto auto auto;
    justify-content: center;
    padding-top: 20px;
}
.facebook{
    background: url("../img/social_icons/icon/facebook_icon.png");
}
.twitter{
    background: url("../img/social_icons/icon/twitter_icon.png");
}
.dribbble{
    background: url("../img/social_icons/icon/dribbble_icon.png");
}
.facebook:hover{
    background: url("../img/social_icons/icon_hover/facebook_icon_hover.png");
    transition: 0.3s ease;
}
.twitter:hover{
    background: url("../img/social_icons/icon_hover/twitter_icon_hover.png");
    transition: 0.3s ease;
}
.dribbble:hover{
    background: url("../img/social_icons/icon_hover/dribbble_icon_hover.png");
    transition: 0.3s ease;
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-right: 5px;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}






.blog{
    background:#e4fdf9;
    padding: 100px 70px;
}
.blog_info p{
    width: 60%;
    margin: 30px auto;
}
.blog_block{
     display:grid;
     grid-template-columns: auto auto;
     justify-content: center;
     margin-top: 50px;
}
.blog_block .content{
    margin-left: 20px;
    text-align: left;
    width: 80%;
}
.blog_block .content h1{
    margin-top: 50px;
    font-size: 23px;
    color: #00897b;
}
.blog_block .main_img{
    border-radius: 8px;
    width:650px;
    height:400px;
}
.date_and_genre{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.date_and_genre p:first-child{
    margin-right: 4%;
}
.blog_block .short_description{
    width: 80%;
}
.more_view{
    width: 180px;
    height: 60px;
    font-size: 10px;
    color: white;
    border: 2px #5c5c5c solid;
    background: #5c5c5c;
    border-radius: 3px;
    margin-top: 100px;
    cursor: pointer;
}




.contact_us{
    background: url("../img/footer/contuct_us_bg.png");
    width: auto;
    padding: 100px 160px 100px 160px;
    background-size: cover !important;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.contacts{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 13%;
    margin:90px 0;
}
.contact{
    width: 195px;
}
.contact_us h1, .contact_us p{
    color: white;
}
.form{
    display: grid;
    grid-template-columns: auto;
    text-align: left;
}
.inputs input{
    width: 46.5%;
    margin-bottom: 30px;
    height: 70px;
}
.inputs input:first-child{
    margin-right: 30px;
}
.text{
    resize: none;
    height: 300px;
    font-size: 25px;
    padding-top: 25px;
}
.inputs input, .text{
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 20px;
}
.send{
    margin-top: 30px;
    height: 60px;
    width: 190px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: auto;
    font-size: 25px;
    font-weight: bold;
}



.top_arrow{
    position: fixed;
    right: 20px;
    bottom: 60px;
    cursor:pointer;
    display: none;
}

footer{
    background: white;
    width: 100%;
    height: 40px;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding-top: 1%;
}

@media screen and (max-width: 1050px) {
    .tags a{
        display:none;
    }
    .tags a:last-child{
        display:block;
    }
}

@media (min-width: 1200px){
    .info h1{
        font-size: 29px;
    }
    .info p{
        font-size: 17px;
        width: 50%;
    }
    .tags a{
        margin-right: 30px;
        font-size: 14pt;
    }

    .hire_buttons{
        display: flex block;
        padding-right: 50px;
        margin-left: 62px;
    }
    .hire{
        padding: 170px 250px 70px 250px;
    }
    .hire h1{
        padding-bottom: 35px;
        font-size: 69px;
    }
    .hire p{
        font-size: 25px;
    }
    .hire_buttons a{
        width: 180px;
        height: 40px;
        font-size: 17px;
    }
    .hire a img{
        margin-top: 70px;
        margin-left: 10px;
    }






    .about_us_info h1{
        margin-left: 23px;
    }
    .about_us_icons p{
        width: 67%;
        font-size: 17px;
    }
    .about_us_icons h1{
        margin: 20px 0;
        font-size: 23px;
    }






    .our_services{
        background-color: #e4fdf9;
        padding-top: 110px;
    }
    .order_rectangles{
        padding: 125px 0;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .rectangle img{
        width: 60px;
        height: 60px;
    }
    .rectangle{
        width: 300px;
        height: 330px;
        margin: 15px;
    }
    .rectangle h1{
        font-size: 22px;
    }
    .rectangle p{
        font-size: 15px;
        width: 75%;
        margin:20px 0 40px 30px;
    }
    .rectangle button{
        width: 142px;
        height: 45px;
        font-size: 16px;
        cursor: pointer;
    }
    .rectangle{
        width: 300px;
        height: 330px;
        margin: 15px;
    }
    .rectangle h1{
        font-size: 22px;
    }
    .rectangle p{
        font-size: 15px;
        width: 75%;
    }
    .rectangle button{
        width: 142px;
        height: 45px;
        font-size: 16px;
    }





    .latest_works_buttons button{
        padding: 10px 25px 10px 25px;
    }
    .latest_works_buttons{
        margin-left: 45px;
    }
    .latest_works button{
        font-size: 12pt;
    }
    .view_all{
        width: 150px;
        height: 50px;
    }
    .works_slots{
        grid-template-columns: auto auto auto;
        padding: 70px 50px 100px 50px;
    }





    .pricing_plan{
        background: #f0f1f1;
        padding: 125px 20px 125px 20px;
    }
    .price_list{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .pricing_plan .price_list a{
        width: 352px;
        height: 581px;
    }
    .price_list a button{
        width: 150px;
        height: 55px;
        font-size: 16px;
        margin-top: 500px;
    }





    .member img{
        width: 350px;
        height: 340px;
    }
    .member h1{
        font-size: 25px;
    }
    .member p{
        font-size: 18px;
    }





    .blog_block .main_img{
        border-radius: 8px;
        width:590px;
        height:380px;
    }
    .blog_block .short_description{
        width: 100%;
    }




    .contacts img{
        width: 109px;
        height: 109px;
    }
    .contacts p{
        font-size: 19px;
    }

    .inputs input{
        width: 34%;
        height: 65px;
        font-size: 19px;
    }
    .text{
        height: 240px;
        font-size: 23px;
    }
    .send{
        height: 50px;
        width: 170px;
        font-size: 25px;
    }
    footer{
        padding-top: 1.15%;
    }
}
@media (min-width: 930px) and (max-width: 1200px) {
    .info h1{
        font-size: 27px;
    }
    .info p{
        font-size: 14px;
        width: 50%;
    }
    .tags a{
        margin-right: 30px;
        font-size: 14pt;
    }

    .hire_buttons{
        display: flex block;
        padding-right: 50px;
        margin-left: 73px;
    }
    .hire{
        background: url("../img/header_photo.jpg");
        width: auto;
        padding: 170px 0 70px 0;
        background-size: cover !important;
        position: relative;
    }
    .hire h1{
        padding-bottom: 35px;
        color: white;
        font-size: 61px;
    }
    .hire p{
        font-size: 22px;
    }
    .hire_buttons a{
        display: inline-block;
        width: 180px;
        height: 40px;
        cursor: pointer;
        color: white;
        font-size: 17px;
    }
    .service, .hiring{
        padding-top: 16px;
    }
    .hire a img{
        margin-top: 70px;
        margin-left: 18px;
    }




    .about_us_info h1{
        margin-left: 23px;
    }
    .about_us_icons p{
        width: 67%;
        margin: 0 auto;
        font-size: 17px;
    }
    .about_us_icons h1{
        margin: 20px 0 20px 0;
        font-size: 23px;
    }




    .our_services{
        background-color: #e4fdf9;
        padding-top: 110px;
    }
    .order_rectangles{
        padding: 125px 0;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .rectangle img{
        width: 60px;
        height: 60px;

    }
    .rectangle{
        width: 300px;
        height: 330px;
        margin: 15px;
    }
    .rectangle h1{
        font-size: 22px;
    }
    .rectangle p{
        font-size: 15px;
        width: 75%;
        margin:20px 0 40px 30px;
    }
    .rectangle button{
        width: 142px;
        height: 45px;
        font-size: 16px;
        cursor: pointer;
    }





    .latest_works_buttons button{
        padding: 10px 25px 10px 25px;
    }
    .latest_works_buttons{
        margin-left: 45px;
    }
    .latest_works_info{
        margin-left: 20px;
    }
    .latest_works button{
        font-size: 12pt;
    }
    .view_all{
        width: 150px;
        height: 50px;
    }
    .works_slots{
        grid-template-columns: auto auto;
        padding: 70px 50px 100px 50px;
    }





    .pricing_plan{
        background: #f0f1f1;
        padding: 125px 20px 125px 20px;
    }
    .price_list{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .pricing_plan .price_list a{
        width: 352px;
        height: 581px;
    }
    .price_list a button{
        width: 150px;
        height: 55px;
        font-size: 16px;
        margin-top: 500px;
    }


    .member img{
        width: 300px;
        height: 310px;
    }
    .member h1{
        font-size: 20px;
    }
    .member p{
        font-size: 16px;
    }





    .blog_block .main_img{
        border-radius: 8px;
        width:440px;
        height:300px;
    }
    .blog_block .short_description{
        width: 100%;
    }



    .contacts img{
        width: 90px;
        height: 90px;
    }
    .contacts p{
        font-size: 17px;
    }

    .inputs input{
        width: 70%;
        height: 55px;
        font-size: 18px;
    }
    .text{
        height: 270px;
        font-size: 20px;
    }
    .send{
        height: 50px;
        width: 170px;
        font-size: 25px;
    }
    footer{
        padding-top: 1.15%;
    }
}
@media screen and (max-width: 930px) {
    .info h1{
        font-size: 25px;
    }
    .info p{
        font-size: 14px;
        width: 80%;
    }
    .tags a{
        margin-right: 30px;
        font-size: 14pt;
    }

    .hire_buttons{
        display: flex block;
        margin-left: 46.5px;
    }
    .hire{
        background: url("../img/header_photo.jpg");
        width: auto;
        padding: 170px 0 70px 0;
        background-size: cover !important;
        position: relative;
    }
    .hire h1{
        padding-bottom: 35px;
        color: white;
        font-size: 50px;
    }
    .hire p{
        font-size: 18px;
    }
    .hire_buttons a{
        display: inline-block;
        width: 110px;
        height: 20px;
        cursor: pointer;
        color: white;
        font-size: 15px;
    }
    .service, .hiring{
        padding: 20px 10px;
    }
    .hire a img{
        margin-top: 70px;
        margin-left: 18px;
    }




    .about_us_info h1{
        margin-left: 23px;
    }
    .about_us_icons p{
        width: 80%;
        margin: 0 auto;
        font-size: 14px;
    }
    .about_us_icons h1{
        margin: 20px 0 20px 0;
        font-size: 19px;
    }




    .our_services{
        background-color: #e4fdf9;
        padding-top: 110px;
    }
    .order_rectangles{
        padding: 125px 0;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .rectangle img{
        width: 60px;
        height: 60px;

    }
    .rectangle{
        width: 300px;
        height: 330px;
        margin: 15px;
    }
    .rectangle h1{
        font-size: 22px;
    }
    .rectangle p{
        font-size: 15px;
        width: 75%;
        margin:20px 0 40px 30px;
    }
    .rectangle button{
        width: 142px;
        height: 45px;
        font-size: 16px;
        cursor: pointer;
    }





    .latest_works_buttons button{
        padding: 10px 25px 10px 25px;
    }
    .latest_works_buttons{
        margin-left: 45px;
    }
    .latest_works_info{
        margin-left: 20px;
    }
    .latest_works button{
        font-size: 12pt;
    }
    .view_all{
        width: 150px;
        height: 50px;
    }
    .works_slots{
        grid-template-columns: auto;
        padding: 70px 50px 100px 50px;
    }





    .pricing_plan{
        background: #f0f1f1;
        padding: 125px 20px 125px 20px;
    }
    .price_list{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .pricing_plan .price_list a{
        width: 352px;
        height: 581px;
    }
    .price_list a button{
        width: 150px;
        height: 55px;
        font-size: 16px;
        margin-top: 500px;
    }


    .member img{
        width: 300px;
        height: 310px;
    }
    .member h1{
        font-size: 20px;
    }
    .member p{
        font-size: 16px;
    }






    .blog_info p{
        width: 60%;
        margin: 30px auto;
    }
    .blog_block{
        display:grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin-top: 50px;
    }
    .blog_block .content{
        margin-left: 20px;
        text-align: left;
        width: 80%;
    }
    .blog_block .content a h1{
        margin-top: 10px;
        font-size: 19px;
    }
    .blog_block .main_img{
        border-radius: 8px;
        width:250px;
        height:160px;
    }
    .date_and_genre{
        display: flex;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .date_and_genre p:first-child{
        margin-right: 2%;
    }
    .date_and_genre img{
        width: 10px;
        height: 13px;
    }
    .date_and_genre p{
        font-size: 14px;
    }
    .blog_block .short_description{
        width: 100%;
        font-size: 12px;
        margin-top: 10px;
    }


    .contact_us{
        padding: 100px 0;
    }
    .contacts img{
        width: 90px;
        height: 90px;
    }
    .contacts p{
        font-size: 12px;
    }
    .contacts{
        grid-column-gap: 0;
    }
    .contact{
        margin:0;
    }
    .inputs input{
        width: 70%;
        height: 55px;
        font-size: 18px;
    }
    .text{
        height: 270px;
        font-size: 20px;
    }
    .send{
        height: 50px;
        width: 170px;
        font-size: 25px;
    }
    footer{
        padding-top: 1.15%;
    }
}
