*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    background-color: white;
    height: 120px;
}
p{
    font-weight: inherit;
    font-size: 18px;
}
.top_nav {
    display: flex;
}
nav{
    margin-top: 40px;
    margin-bottom: 40px;
}
nav  a{
    color: black;
}
.top_nav .logo{
    margin-left: 7%;
    margin-right: 390px;
    font-weight: bold;
    font-size: 18pt;
}
.tags a{
    padding-right: 40px;
    font-size: 17pt;
}
main{
    text-align: center;
}
.hire_buttons{
    display: flex;
    padding-right: 30px;
}
.hire{
    background: url("../img/header_photo.jpg");
    width: 100%;
    height: 722px;
}
.hire h1{
    padding-top: 190px;
    padding-bottom: 35px;
    color: white;
    font-size: 79px;
}
.hire p{
    font-size: 29px;
    color: white;
    padding-bottom: 110px;
}
.hire_buttons{
    margin-left: 35.2%;
}
.hire_buttons a button{
    margin-bottom: 100px;
    width: 210px;
    height: 73px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.service{
    border: 3px white solid;
    background-color: black;
    opacity: 0.7;
    margin-right: 30px;
}
.hiring{
    border: 2px gray solid;
    background-color: gray;
    opacity: 0.9;
}






.about_us{
    padding-top: 150px;
}
.about_us h1{
    font-size: 30px;
    margin-bottom: 40px;
}
.about_us p{
    width: 70%;
    margin: 0 auto;
}
.about_us_icons {
    margin-top: 130px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 125px;
    margin-left: 28px;
}
.about_us_icons img{
    margin-bottom: 40px;
}






.rectangle img{
    width: 60px;
    height: 60px;
}
.our_services{
    width: 100%;
    background-color: #e4fdf9;
    padding-top: 110px;
}
.text_inform h1{
    margin-bottom: 40px;
    font-size: 25px;
}
.text_inform p{
    width: 50%;
    margin: 0 auto;
}
.order_rectangles{
    padding: 125px 0 126px 157px;
    display: grid;
    grid-template-columns: auto auto auto;

}
.rectangle{
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    padding-top: 46px;
    box-shadow: 0 0 3px #262626;
    margin-top: 33px;
    color: #5c5c5c;
}
.rectangle h1{
    font-size: 26px;
}
.rectangle p{
    font-size: 17px;
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.rectangle button{
    width: 147px;
    height: 50px;
    border: 2px #00897b solid;
    color: #5c5c5c;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    background: white;
}





.latest_works{
    background-color: #ffffff;
}
.inform_latest_works h1{
    font-size: 20pt;
    padding-top: 100px;
    padding-bottom: 38px;
}
.inform_latest_works p{
    width: 50%;
    margin-left: 25%;
    padding-bottom: 118px;
}
.latest_works_buttons_click{
    transition: 0.3s;
    color: white;
    background: #00897b;
}

.latest_works_buttons button{
    color: #504e4e;
    padding: 10px 30px 10px 30px;
    margin-right: 30px;
}
.latest_works_buttons{
    margin-left: 45px;
}
.latest_works button{
    border: 2px #00897b solid;
    font-size: 14pt;
    border-radius: 1px;
    cursor: pointer;
    font-weight: bold;
}
.view_all{
    width: 150px;
    height: 50px;
    background: #00897b;
    color: white;
    margin-bottom: 136px;
    margin-left: 1px;
}
.works_slots{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 120px 50px 166px 145px;
}
.works_slots a{
    margin-top: 30px;
    text-decoration: none;
    display: block;
    width: 370px;
    height: 370px;
}
.watch{
    background: url("../img/latest_work_icons/watches(1).jpg");
}
.health{
    background: url("../img/latest_work_icons/health_pocket(2).jpg");
}
.pants{
    background: url("../img/latest_work_icons/pants(3).jpg");
}
.flaga{
    background: url("../img/latest_work_icons/flaga(4).jpg");
}
.wine{
    background: url("../img/latest_work_icons/wine(5).jpg");
}
.bag{
    background: url("../img/latest_work_icons/bag(6).jpg");
}
.watch:hover{
    background: url("../img(hover)/watches(1)(hover).jpg");
    transition: 0.3s ease;
}
.health:hover{
    background: url("../img(hover)/health_pocket(2)(hover).jpg");
    transition: 0.3s ease;
}
.pants:hover{
    background: url("../img(hover)/pants(3)(hover).jpg");
    transition: 0.3s ease;
}
.flaga:hover{
    background: url("../img(hover)/flaga(4)(hover).jpg");
    transition: 0.3s ease;
}
.wine:hover{
    background: url("../img(hover)/wine(5)(hover).jpg");
    transition: 0.3s ease;
}
.bag:hover{
    background: url("../img(hover)/bag(6)(hover).jpg");
    transition: 0.3s ease;
}






.pricing_plan{
    background: #f0f1f1;
    padding: 125px 115px 125px 160px;
}
.pricing_plan .info_pricing_plan p{
    width: 50%;
    margin: 0 auto;
    padding-right: 47px;
}
.pricing_plan .info_pricing_plan h1{
     margin-right: 42px;
     margin-bottom: 38px;
 }
.pricing_plan .info_pricing_plan{
    margin-bottom: 110px;
}
.price_list{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 13.7px;
}
.pricing_plan .price_list a{
    display: block;
    width: 352px;
    height: 641px;
}
.pricing_plan .price_list a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.free{
    background: url("../img/price_rectangle/free.jpg");
}
.basic{
    background: url("../img/price_rectangle/basic.jpg");
}
.ultimates{
    background: url("../img/price_rectangle/ultimates.jpg");
}
.price_list a button{
    border-radius: 1px;
    width: 150px;
    height: 55px;
    border: 2px solid black;
    color: black;
    background: white;
    margin-top: 548px;
    font-size: 18px;
    font-weight: 800;
}
.price_list a button:hover{
    transition: 0.3s;
    border: 2px solid #00897b;
    border-radius: 3px;
    color: white;
    background: #00897b;
    cursor: pointer;
}






.team_members{
    padding: 125px 0 125px 15px;
}
.info_team_members P{
    width: 50%;
    margin: 50px auto 130px auto ;
}
.members{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 30px;
}
.member{
    margin-left: 5px;
}
.member_image{
    display: block;
    width:350px;
    height: 340px;
    margin-left: 14.5%;
    border-radius: 6px;
    margin-bottom: 20px;
}
.social_icons a{
    display:block;
    width:53px;
    height: 53px;
    border-radius: 3px;
}
.social_icons{
    display: grid;
    grid-template-columns: 19% 19% 19%;
    padding-left: 138px;
    padding-top: 20px;
    margin-left: 3.7%;
}
.facebook{
    background: url("../img/social_icons/icon/facebook_icon.png");
}
.twitter{
    background: url("../img/social_icons/icon/twitter_icon.png");
}
.dribbble{
    background: url("../img/social_icons/icon/dribbble_icon.png");
}
.facebook:hover{
    background: url("../img/social_icons/icon_hover/facebook_icon_hover.png");
    transition: 0.3s ease;
}
.twitter:hover{
    background: url("../img/social_icons/icon_hover/twitter_icon_hover.png");
    transition: 0.3s ease;
}
.dribbble:hover{
    background: url("../img/social_icons/icon_hover/dribbble_icon_hover.png");
    transition: 0.3s ease;
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}






.blog{
    background:#e4fdf9;
    padding: 100px 67px 100px 80px;
}
.blog_info p{
    width: 60%;
    margin: 20px auto 100px auto;
}
.blog_block{
     display:flex;
     margin-top: 50px;
}
.blog_block .content{
    margin-left: 50px;
    text-align: left;
}
.blog_block .content h1{
    margin-top: 50px;
    font-size: 23px;
    color: #00897b;
}
.blog_block .main_img{
    border-radius: 8px;
    width:800px;
    height:400px;
    display: block;
}
.date_and_genre{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.date_and_genre p:first-child{
    margin-right: 60px;
}
.blog_block .short_description{
    width: 70%;
}
.more_view{
    width: 180px;
    height: 60px;
    font-size: 10px;
    color: white;
    border: 2px #5c5c5c solid;
    background: #5c5c5c;
    border-radius: 3px;
    margin-top: 100px;
    cursor: pointer;
}